.mobile-nav-bar {
  background-color: #181818;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .mobile-logo {
    position: absolute;
    left: 5%;
    color: #1ba098;
    text-align: center;
    text-decoration: none;
    font-family: 'Coolvetica';
    font-size: 11px;
    text-transform: uppercase;
  }

  .page-links {
    width: 55%;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 20px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      // icon link hover

      &:hover {
        color: #1ba098;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      // icon link after

      &:after {
        content: '';
        font-size: 8px;
        letter-spacing: 1px;
        position: absolute;
        margin-left: -6px;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3 ease-out;
      }
      // home link icon
      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }

    // about link icon

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    // skills link icon

    a.skills-link {
      &:after {
        content: 'SKILLS';
      }
    }

    // projects link icon

    a.projects-link {
      &:after {
        content: 'PROJECTS';
      }
    }

    // contact link icon

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #1ba098;
      }
    }
  }
}

/* mobile nav links*/

.mobile-nav-links {
  height: 20px;
  width: 20px;

  a {
    margin-right: 10px;
  }
}

/* Mobile nav tablet */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .mobile-nav-bar {
    display: none;
  }
}

/* mobile nav Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .mobile-nav-bar {
    display: none !important;
  }
}

// mobile nav Large Desktop

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  .mobile-nav-bar {
    display: none !important;
  }
}
