.react-multi-carousel-list {
  height: 100%;
  width: 100%;
}

.carousel-items {
  font-size: 14px;
  letter-spacing: 1px;
  // font-family: 'Helvetica Neue';
  color: white;

  .mobile-icon {
    width: 30px;
    height: 30px;
  }
}

.carousel-icons {
  margin-top: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .skills-carousel {
    display: none !important;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .skills-carousel {
    display: none !important;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  .skills-carousel {
    display: none !important;
  }
}
