@import '/src/scss/mixins';

.skills-page {
  position: absolute;
  width: 100%;
  height: 100%;

  .text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    vertical-align: middle;
    display: table-cell;
  }

  .skills-list {
    opacity: 0.8;
    color: #fff;
    li {
      list-style: none;
      margin-bottom: 30px;
      margin-left: 15px;
    }
  }

  .skills-links {
    margin-top: 120px;
  }
}

.link {
  color: #ffd700;
  font-size: 20px;
  font-family: 'Coolvetica';
}

/* Skills mobile  */

@media only screen and (max-width: 767px) {
  .skills-page {
    display: flex;
    flex-direction: column;

    .text-zone {
      width: 65%;
      left: 23%;
      top: 50%;

      h1 {
        @include mainHeadingMobile;
        margin-bottom: 50px;
      }

      p {
        @include mobileParagraph;
        line-height: 22px;
      }

      .skills-list {
        display: none;
        font-size: 12px;

        li {
          @include mobileLi;
        }
      }

      .skills-zone {
        .skills-links {
          margin-top: 50px !important;
        }
      }
    }

    // mobile icons
    .icons {
      display: none;
      height: 10%;
      width: 65%;
      top: 70%;
      right: 0 !important;
      transform: translateY(-50%);
      left: 26% !important;

      // display: none;
      .icon {
        height: 22px;
        width: 22px;
        margin-right: 7px;
      }
    }
  }
}

/* Skills tablet  */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .skills-page {
    left: 15%;
  }

  .text-zone {
    width: 65% !important;
    top: 46% !important;
    display: flex;
    flex-direction: column;

    h1 {
      @include mainHeadingTablet;
    }

    p {
      @include tabletParagraph;
    }

    .skills-list {
      @include tabletuL;
      li {
        @include tabletLi;
      }
    }

    .skills-links {
      p {
        @include tabletParagraph;
        font-size: 18px !important;
      }
    }

    .icons {
      display: none;
    }
  }
}

/* Skills Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .skills-page {
    .text-zone {
      left: 19%;
      width: 67%;
      top: 46%;

      h1 {
        @include mainHeading;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 30px;
      }

      p {
        @include DesktopParagraph;
      }

      .skills-links {
        p {
          @include DesktopParagraph;
          font-size: 18px;
        }
      }

      .skills-list {
        li {
          @include desktopLi;
        }
      }

      .icons {
        display: none;
      }
    }
  }
}

/* Skills Large Desktop */

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  .skills-page {
    .text-zone {
      left: 15%;
      width: 67%;
      top: 46%;

      h1 {
        @include mainHeading;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 30px;
      }

      p {
        @include DesktopParagraph;
      }

      .skills-links {
        p {
          @include DesktopParagraph;
          font-size: 18px;
        }
      }

      .skills-list {
        li {
          @include desktopLi;
        }
      }

      .icons {
        display: none;
      }
    }
  }
}
