@import '/src/scss/mixins';

.skills-page {
  position: absolute;
  width: 100%;
  height: 100%;

  .text-zone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    vertical-align: middle;
    display: table-cell;

    h1 {
      @include mainHeading;
    }

    p {
      @include DesktopParagraph;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
    }
  }

  h2 {
    @include DesktopH2;
  }

  .skills-list {
    margin-top: 80px;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.8;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;

    &::before {
      content: '<ul>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 20px;
      position: absolute;
      margin-top: -60px;
      left: -40px;
      animation: fadeIn 1s 1.7s backwards;
    }

    &::after {
      content: '</ul>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 20px;
      position: absolute;
      left: -40px;
      margin-top: 10px;
      animation: fadeIn 1s 1.7s backwards;
    }

    li {
      list-style: none;
      margin-bottom: 30px;
      margin-left: 15px;

      &::before {
        content: '<li>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 20px;
        position: absolute;
        margin-top: -20px;
        left: 5px;
        // opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
      }

      &::after {
        content: '</li>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 20px;
        position: absolute;
        margin-top: 22px;
        margin-left: 15px;
        // opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .skills-links {
    margin-top: 120px;
    p {
      font-size: 17px;
      &::before {
        content: '<p>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 20px;
        position: absolute;
        margin-top: -30px;
        left: -60px;
        opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
      }

      &::after {
        content: '</p>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 20px;
        position: absolute;
        margin-top: 60px;
        margin-left: 20px;
        opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
      }
    }
  }

  .icons {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    max-height: 90%;

    .icon {
      height: 50px;
      width: 50px;
      margin-right: 20px;
    }
  }
}

.link {
  color: #ffd700;
  font-size: 20px;
  font-family: 'Coolvetica';
}

/* Skills mobile  */

@media only screen and (max-width: 767px) {
  .skills-page {
    display: flex;
    flex-direction: column;

    .text-zone {
      width: 65%;
      left: 23%;
      top: 50%;

      h1 {
        @include mainHeadingMobile;
        font-size: 18px !important;
      }

      p {
        @include mobileParagraph;
      }

      .skills-list {
        display: none;
        font-size: 12px;

        li {
          @include mobileLi;
        }
      }

      .skills-zone {
        .skills-links {
          margin-top: 50px !important;
        }
      }
    }

    // mobile icons
    .icons {
      display: none;
      height: 10%;
      width: 65%;
      top: 70%;
      right: 0 !important;
      transform: translateY(-50%);
      left: 26% !important;

      // display: none;
      .icon {
        height: 22px;
        width: 22px;
        margin-right: 7px;
      }
    }
  }
}

/* Skills tablet  */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .skills-page {
    left: 15%;
  }

  .text-zone {
    width: 65% !important;
    top: 45% !important;
    display: flex;
    flex-direction: column;

    h1 {
      @include mainHeadingTablet;
    }

    li {
      @include tabletLi;
    }

    .icons {
      display: none;
    }
  }
}

/* Home Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .skills-page {
    .text-zone {
      left: 19%;
      width: 67%;

      h1 {
        @include mainHeading;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 30px;
      }

      p {
        @include DesktopParagraph;
      }

      .icons {
        display: none;
      }
    }
  }
}
