@import '/src/scss/mixins';
@import '/src/scss/buttons';

.home-page {
  .text-zone {
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-60%);
    width: 60%;
    max-height: 90%;

    h1 {
      @include mainHeading;
    }

    p {
      @include DesktopParagraph;
    }

    h2 {
      @include DesktopH2;
    }
  }

  //Contact btn

  .flat-button {
    @include moreAboutMe;
  }
}

/* Home mobile  */

@media only screen and (max-width: 767px) {
  .home-page {
    .text-zone {
      top: 55%;
      width: 60%;
      left: 23%;

      h1 {
        @include mainHeadingMobile;
      }

      h2 {
        @include mobileh2;
      }

      p {
        @include mobileParagraph;
      }
    }

    // contact btn

    .flat-button {
      left: 23% !important;
      width: 160px !important;
      bottom: 60px;
    }
  }
}

/* Home tablet  */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .home-page {
    left: 15%;

    .text-zone {
      width: 69% !important;
      h1 {
        @include mainHeadingTablet;
      }

      h2 {
        @include tableth2;
        margin-bottom: 30px;
      }

      p {
        @include tabletParagraph;
      }
    }
  }
}

/* Home Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .home-page {
    .text-zone {
      left: 19%;
      width: 70%;
      top: 55%;

      h1 {
        @include mainHeading;
        margin-bottom: 100px;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 100px;
      }

      p {
        @include DesktopParagraph;
        margin-bottom: 100px;
      }
    }
  }
}

/* Home Large Desktop */

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  .home-page {
    .text-zone {
      left: 15%;
      width: 70%;
      top: 50%;

      h1 {
        @include mainHeading;
        margin-bottom: 100px;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 100px;
      }

      p {
        @include DesktopParagraph;
      }
    }
  }
}
