@import '/src/scss/mixins';

.home-page {
  .text-zone {
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-60%);
    width: 60%;
    max-height: 90%;

    h1 {
      @include mainHeading;
    }

    p {
      @include DesktopParagraph;
    }

    h2 {
      @include DesktopH2;
    }
  }

  //Contact btn

  .flat-button {
    color: #1ba098;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #1ba098;
    position: absolute;
    right: 280px;
    bottom: 100px;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #1ba098;
      color: #333;
    }
  }
}

/* Home mobile  */

@media only screen and (max-width: 767px) {
  .home-page {
    .text-zone {
      top: 55%;
      width: 60%;
      left: 23%;

      h1 {
        @include mainHeadingMobile;
      }

      h2 {
        @include mobileh2;
      }

      p {
        @include mobileParagraph;
      }
    }

    // contact btn

    .flat-button {
      left: 23% !important;
      width: 120px !important;
      bottom: 60px;
    }
  }
}

/* Home tablet  */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .home-page {
    left: 15%;

    .text-zone {
      width: 69% !important;
      h1 {
        @include mainHeadingTablet;
      }

      h2 {
        @include tableth2;
        margin-bottom: 30px;
      }

      p {
        @include tabletParagraph;
      }
    }
  }
}

/* Home Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .home-page {
    .text-zone {
      left: 19%;
      width: 65%;

      h1 {
        @include mainHeading;
      }

      h2 {
        @include DesktopH2;
        margin-bottom: 30px;
      }

      p {
        @include DesktopParagraph;
      }
    }
  }
}
