@import '/src/scss/mixins';

.contact-page {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.text-zone__contact {
  position: absolute;
  left: 13%;
  top: 40%;
  transform: translateY(-50%);
  width: 40%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;

  h1 {
    @include mainHeading;
  }
}

.contact-form {
  width: 70%;
  margin-top: 20px;

  p {
    font-size: 14px;
    color: #fff;
    animation: fadeInUp 2s;
    animation-fill-mode: forwards;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 150px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    // min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    cursor: pointer;
  }
}

.map-wrap {
  position: absolute;
  right: 3%;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(8, 253, 216, 0.1);
  width: 45%;
  height: 95%;
  margin-top: -3%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  background: #000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;

    span {
      color: #ffd700;
    }
  }
}

/* Contact mobile  */

@media only screen and (max-width: 767px) {
  .contact-page {
    display: flex;
    flex-direction: column;

    .text-zone__contact {
      width: 100% !important;
      top: 55%;
      left: 23%;

      h1 {
        @include mainHeadingMobile;
        margin-bottom: 40px !important;
      }

      p {
        @include mobileParagraph;
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column-reverse;

      form {
        input[type='text'],
        input[type='email'] {
          font-size: 12px;
        }
      }
      ul {
        margin-top: 20px;
        input {
          height: 25px !important;
        }
        textarea {
          height: 70px !important;
        }
      }
    }

    .map {
      display: none;
    }
  }
}

/* Contact tablet  */

@media only screen and (min-width: 768px) and (max-width: 1223px) {
  .contact-page {
    left: 13%;

    .text-zone__contact {
      width: 63%;

      h1 {
        @include mainHeadingTablet;
      }

      p {
        @include tabletParagraph;
      }
    }

    .contact-form {
      width: 100%;
      display: flex;
      flex-direction: column;

      form {
        input[type='text'],
        input[type='email'] {
          height: 30px;
          font-size: 16px;
        }
        textarea {
          height: 90px;
        }
      }
    }

    .map {
      .info-map {
        top: 76%;
        right: 25%;
        width: 173px;
        font-size: 15px;
        padding: 5px !important;

        span {
          font-size: 14px;

          span {
            color: #ffd700;
          }
        }
      }

      .map-wrap {
        position: absolute;
        top: 87%;
        left: 13%;
        transform: translateY(-50%);
        width: 63%;
        height: 18%;
      }
    }
  }
}

/* contact Desktop */

@media only screen and (min-width: 1224px) and (max-width: 1440px) {
  .contact-page {
    .text-zone__contact {
      left: 17%;
      width: 65%;
      top: 50%;

      h1 {
        @include mainHeading;
      }

      p {
        @include DesktopParagraph;
      }
    }

    .contact-form {
      width: 50%;
    }

    .map {
      .map-wrap {
        right: 2%;
        width: 45% !important;
        height: 80%;
      }

      .info-map {
        top: 105px;
        right: 3%;
        span {
          font-size: 14px;

          span {
            color: #ffd700;
          }
        }
      }
    }
  }

  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
}

/* contact Large Desktop */

@media only screen and (min-width: 1441px) and (max-width: 2500px) {
  .contact-page {
    .text-zone__contact {
      left: 15%;
      width: 65%;
      top: 50%;

      h1 {
        @include mainHeading;
      }

      p {
        @include DesktopParagraph;
        font-size: 18px;
      }
    }

    .contact-form {
      width: 45%;
    }

    .map {
      .map-wrap {
        right: 2%;
        width: 45% !important;
        height: 85%;
      }

      .info-map {
        top: 90px;
        right: 3%;
        span {
          font-size: 14px;

          span {
            color: #ffd700;
          }
        }
      }
    }
  }

  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
}
