// main h1 mixin

@mixin mainHeading {
  margin-bottom: 60px;
  color: white;
  font-size: 53px !important;
  font-family: 'Coolvetica';
  letter-spacing: 6px;

  &::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 20px;
    position: absolute;
    margin-top: -30px;
    left: -50px;
    opacity: 0.8;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 20px;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    opacity: 0.8;
    animation: fadeIn 1s 1.7s backwards;
  }
}

/* MOBILE MIXINS*/

// mobile h1 mixin

@mixin mainHeadingMobile {
  margin-bottom: 60px;
  color: white;
  font-size: 24px !important;
  font-family: 'Coolvetica';
  letter-spacing: 4px;

  &::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: -20px;
    left: -49px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    animation: fadeIn 1s 1.7s backwards;
  }
}

//mobile paragraph mixin

@mixin mobileParagraph {
  color: #fff;
  font-size: 13px;
  opacity: 0.8;
  letter-spacing: 2px;
  margin-top: 50px;

  &::before {
    content: '<p>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: -20px;
    left: -38px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</p>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
  }
}

@mixin mobileh2 {
  font-family: 'Coolvetica';
  margin-top: 160px;
  color: #fff;
  margin-top: 50px;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  animation: fadeIn 1s 1.8s backwards;

  &::before {
    content: '<h2>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: -20px;
    left: -40px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</h2>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
  }
}

//mobile li mixin

@mixin mobileLi {
  &::before {
    content: '<li>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: -20px;
    left: 5px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</li>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 13px;
    position: absolute;
    margin-top: 22px;
    margin-left: 15px;
    animation: fadeIn 1s 1.7s backwards;
  }
}
