/* MOBILE MIXINS*/

// mobile h1 mixin

@mixin mainHeadingMobile {
  font-size: 24px !important;
  color: white;
  font-size: 60px;
  font-family: 'Coolvetica';
  letter-spacing: 6px;
  &::before {
    content: '<h1>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px !important;
    margin-top: -10px;
    left: -49px;
  }

  &::after {
    content: '</h1>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px !important;
    margin-top: 30px;
    margin-left: 10px;
  }
}

// mobile h2 mixin

@mixin mobileh2 {
  font-size: 14px;
  line-height: 18px;
  color: white;
  opacity: 0.8;

  &::before {
    content: '<h2>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px;
    margin-top: -10px;
    left: -38px;
  }

  &::after {
    content: '</h2>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

//mobile paragraph mixin

@mixin mobileParagraph {
  font-size: 13px !important;
  line-height: 15px;
  opacity: 0.8;
  letter-spacing: 2px;
  color: white;

  &::before {
    content: '<p>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px !important;
    margin-top: -10px !important;
    left: -37px !important;
  }

  &::after {
    content: '</p>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 13px !important;
    margin-top: 15px !important;
    margin-left: 10px !important;
  }
}

//mobile li mixin

@mixin mobileLi {
  &::before {
    content: '<li>';
    font-size: 13px;
    margin-top: -20px;
    left: 5px;
  }

  &::after {
    content: '</li>';
    font-size: 13px;
    margin-top: 22px;
    margin-left: 15px;
  }
}

/* MOBILE MIXINS END*/

/* Tablet  MIXINS*/

@mixin mainHeadingTablet {
  font-size: 42px !important;
  color: white;
  font-size: 60px;
  opacity: 0.8;
  font-family: 'Coolvetica';
  letter-spacing: 6px;

  &::before {
    content: '<h1>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px;
    margin-top: -10px;
    left: -60px;
  }

  &::after {
    content: '</h1>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 5px !important;
  }
}

// tablet h2 mixin

@mixin tableth2 {
  font-size: 22px !important;
  opacity: 0.8;
  color: white;
  &::before {
    content: '<h2>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px;
    margin-top: -20px;
    left: -50px;
  }

  &::after {
    content: '</h2>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }
}

//tablet paragraph mixin

@mixin tabletParagraph {
  font-size: 15px !important;
  letter-spacing: 2px;
  color: white;
  opacity: 0.8;

  &::before {
    content: '<p>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px !important;
    position: absolute;
    margin-top: -10px !important;
    left: -45px;
  }

  &::after {
    content: '</p>';
    color: #ffd700;
    font-family: 'La Belle Aurore';
    position: absolute;
    font-size: 20px !important;
    margin-top: 15px !important;
    margin-left: 10px;
  }
}

// tablet ul mixin

@mixin tabletuL {
  margin-top: 80px;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.8;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  &::before {
    content: '<ul>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 20px;
    position: absolute;
    margin-top: -60px;
    left: -48px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</ul>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 20px;
    position: absolute;
    left: -50px;
    margin-top: 10px;
    animation: fadeIn 1s 1.7s backwards;
  }
}

// tablet li mixin

@mixin tabletLi {
  font-size: 14px;
  &::before {
    content: '<li>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 19px;
    position: absolute;
    margin-top: -20px;
    left: 15px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</li>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    margin-top: 22px;
    margin-left: 15px;
    // opacity: 0.8;
    animation: fadeIn 1s 1.7s backwards;
  }
}

/* Dekstop MIXINS*/

// Desktop h1 mixin

@mixin mainHeading {
  margin-bottom: 60px;
  color: white;
  font-size: 60px;
  font-family: 'Coolvetica';
  letter-spacing: 6px;

  &::before {
    content: '<h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: -20px;
    left: -50px;
    opacity: 0.8;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</h1>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
    opacity: 0.8;
    animation: fadeIn 1s 1.7s backwards;
  }
}

// Desktop h2 mixin

@mixin DesktopH2 {
  font-family: 'Coolvetica';
  color: #fff;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2px;
  opacity: 0.9;
  animation: fadeIn 1s 1.8s backwards;

  &::before {
    content: '<h2>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: -20px;
    left: -55px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</h2>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    animation: fadeIn 1s 1.7s backwards;
  }
}

// Desktop paragraph mixin

@mixin DesktopParagraph {
  color: #fff;
  font-size: 19px;
  opacity: 0.8;
  letter-spacing: 2px;
  margin-top: 30px;

  &::before {
    content: '<p>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: -20px;
    left: -45px;
    animation: fadeIn 1s 1.7s backwards;
  }

  &::after {
    content: '</p>';
    font-family: 'La Belle Aurore';
    color: #ffd700;
    font-size: 23px;
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    animation: fadeIn 1s 1.7s backwards;
  }
}
